*.o
*.lo
*.la

Makefile
autom4te.cache/
config.h
config.log
config.status
libtool
oi_odb_utils.pc
src/.deps/
src/.libs/
src/Makefile
src/liboi_odb_utils.la
src/odb_stat.lo
src/odb_stat.o
src/odb_worker.lo
src/odb_worker.o
stamp-h1
test/.deps/
test/Makefile
test/main.o
test/req_agent.sql
test/req_agent_odb.o
test/test_odb_worker

