*.o
*.lo
*.la

Makefile
autom4te.cache/
config.h
config.log
config.status
libtool
oi_odb_utils.pc
src/.deps/
src/.libs/
src/Makefile
src/liboi_odb_utils.la
src/odb_stat.lo
src/odb_stat.o
src/odb_worker.lo
src/odb_worker.o
stamp-h1
test/.deps/
test/Makefile
test/main.o
test/test_post_callback
test/.libs/
test/blocking_mode
test/blocking_small_tbs
test/blocking_small_tbs_drop_failed


test/*.log
test/*.trs
